{% from 'macros.html' import about, menubar %}
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='github-markdown.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='pygments-default.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<style>
			.markdown-body h3:before {
				content: "";
			}
		</style>

		<title>ClumpyCrunch FAQ</title>
	</head>

	<body>
		{{menubar(True)}}
		<h1>
			ClumpyCrunch
			<div class="floatright">
				Frequently Asked Questions
			</div>
		</h1>

		<div class="markdown-body">{% filter markdown %}{{md|safe}}{% endfilter %}</div>

		{{about(vD47crunch)}}
	</body>

</html>
