{% macro about(v) %}

	<h3>About</h3>

	<p>ClumpyCrunch is an <a href="https://github.com/mdaeron/clumpycrunch">open-source</a>
	application built on
	<a href="https://flask.palletsprojects.com">Flask</a> and
	<a href="https://github.com/mdaeron/D47crunch">D47crunch</a> v{{v}},
	using the standardization methods described by
	<a href="https://doi.org/xxx">Daëron et al. (in prep.)</a>.
	<br>All questions/suggestions are welcome and should be directed at
	<a href="mailto:daeron@lsce.ipsl.fr?subject=[ClumpyCrunch]">Mathieu Daëron</a>.
	Frequently asked questions are <a href="/faq/">here</a>.
	<br>ClumpyCrunch retains no records of your analytical data after you close your browser window.

{% endmacro %}

{% macro menubar(home) %}

		<div class="topmenu">
			{% if home %}
			<span style="padding-left:2em"><a href="/" class="discreetlink">back</a></span>
			{% endif %}
			<span style="padding-left:2em"><a href="/readme" class="discreetlink">readme</a></span>
			<span style="padding-left:2em"><a href="/faq" class="discreetlink">FAQ</a></span>
			<span style="padding-left:2em"><a href="https://github.com/mdaeron/clumpycrunch" class="discreetlink">source</a></span>
		</div>

{% endmacro %}
