{% from 'macros.html' import about, menubar %}
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>ClumpyCrunch</title>
	</head>

	<body>
		{{menubar(False)}}
		<h1>
			ClumpyCrunch
			<div class="floatright">
				<span style="padding-right:0.06em">v</span>2.1
			</div>
		</h1>

			{% if payload['error_msg'] %}
			<div class="error">
				<h2 class="error">Something went wrong...</h2>
					{{ payload['error_msg'] | safe }}
			</div>
			{% endif %}

			<h2>Oxygen-17 Correction Settings</h2>
		
			<div class="settings_readme" style="margin-bottom:3ex;">
			The <sup>17</sup>O correction parameters below are used to compute
			δ<sup>13</sup>C, δ<sup>18</sup>O,
			<br>
			and raw clumped-isotope Δ values from working-gas δ values
			<br>(computational details in
			<a href="https://doi.org/10.1016/j.chemgeo.2016.08.014">Daëron et al., 2016</a>).
			</div>

			<input
				type="text"
				name="o17_R13_VPDB"
				id="o17_R13_VPDB"
				form="mainform"
				size="12"
				value="{{payload['o17_R13_VPDB']}}"
				></input>
			<label for="o17_R13_VPDB">(<sup>13</sup>C/<sup>12</sup>C) of VPDB</label>

			<br>
			<input
				type="text"
				name="o17_R18_VSMOW"
				id="o17_R18_VSMOW"
				form="mainform"
				size="12"
				value="{{payload['o17_R18_VSMOW']}}"
				></input>
			<label for="o17_R13_VPDB">(<sup>18</sup>O/<sup>16</sup>O) of VSMOW</label>

			<br>
			<input
				type="text"
				name="o17_R17_VSMOW"
				id="o17_R17_VSMOW"
				form="mainform"
				size="12"
				value="{{payload['o17_R17_VSMOW']}}"
				></input>
			<label for="o17_R17_VPDB">(<sup>17</sup>O/<sup>16</sup>O) of VSMOW</label>

			<br>
			<input
				type="text"
				name="o17_lambda"
				id="o17_lambda"
				form="mainform"
				size="12"
				value="{{payload['o17_lambda']}}"
				></input>
			<label for="o17_R13_VPDB">Triple oxygen isotope exponent (λ)</label>

			<h2>Working Gas Composition Settings</h2>
			<input
				type="radio"
				id="wg_setting_radio_fromsamples"
				name="wg_setting"
				value="wg_setting_fromsamples"
				form="mainform"
				{{'checked=true' if payload['wg_setting'] == 'wg_setting_fromsamples'}}>
			Based on carbonate standards analyzed in each session
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Requires that each session includes one or more samples with
				<br>
				non-empty <span class="field">Nominal_d13C_VPDB</span> and <span class="field">Nominal_d18O_VPDB</span>
				fields.
				<br>
				Remember to define a suitable (<sup>18</sup>O/<sup>16</sup>O) acid fractionation factor below.
			</div>

			<input
				type="radio"
				id="wg_setting_radio_explicit"
				name="wg_setting"
				value="wg_setting_explicit"
				form="mainform"
				{{'checked=true' if payload['wg_setting'] == 'wg_setting_explicit'}}>
			Explicitly defined in the raw data
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Bulk composition of the WG must be explicitly defined in each line of the raw data,
				<br>
				using fields <span class="field">d13Cwg_VPDB</span> and
				<span class="field">d18Owg_VSMOW</span>.
			</div>

			<h2>Carbon-13 Standardization Settings</h2>

			<input
				type="radio"
				id="d13C_stdz_setting_radio_none"
				name="d13C_stdz_setting"
				value="d13C_stdz_setting_none"
				form="mainform"
				{{'checked=true' if payload['d13C_stdz_setting'] == 'd13C_stdz_setting_none'}}
				>
			No standardization
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Only rely on working gas composition to constrain δ<sup>13</sup>C values.
			</div>
			<input
				type="radio"
				id="d13C_stdz_setting_radio_1pt"
				name="d13C_stdz_setting"
				value="d13C_stdz_setting_1pt"
				form="mainform"
				{{'checked=true' if payload['d13C_stdz_setting'] == 'd13C_stdz_setting_1pt'}}
				>
			Single-point standardization (shift all δ<sup>13</sup>C values by a constant offset)
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Requires that each session includes one or more samples with a non-empty
				<span class="field">Nominal_d13C_VPDB</span> field.
			</div>
			<input
				type="radio"
				id="d13C_stdz_setting_radio_2pt"
				name="d13C_stdz_setting"
				value="d13C_stdz_setting_2pt"
				form="mainform"
				{{'checked=true' if payload['d13C_stdz_setting'] == 'd13C_stdz_setting_2pt'}}
				>
			Two-point standardization (apply affine transformation to δ<sup>13</sup>C values)
			<br>
			<div class="settings_readme" style="margin:0;margin-left:2.4em;">
				Requires that each session includes two or more samples with a non-empty
				<span class="field">Nominal_d13C_VPDB</span> field.
				<br>
				It is critical that these values cover a large enough range to avoid gross extrapolation errors.
			</div>

			<h2>Oxygen-18 Standardization Settings</h2>

			<input
				type="radio"
				id="d18O_stdz_setting_radio_none"
				name="d18O_stdz_setting"
				value="d18O_stdz_setting_none"
				form="mainform"
				{{'checked=true' if payload['d18O_stdz_setting'] == 'd18O_stdz_setting_none'}}
				>
			No standardization
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Only rely on working gas composition to constrain δ<sup>18</sup>O values.
			</div>
			<input
				type="radio"
				id="d18O_stdz_setting_radio_1pt"
				name="d18O_stdz_setting"
				value="d18O_stdz_setting_1pt"
				form="mainform"
				{{'checked=true' if payload['d18O_stdz_setting'] == 'd18O_stdz_setting_1pt'}}
				>
			Single-point standardization (shift all δ<sup>18</sup>O values by a constant offset)
			<div class="settings_readme" style="margin:0;margin-left:2.4em;margin-bottom:1ex;">
				Requires that each session includes one or more samples with a non-empty
				<span class="field">Nominal_d18O_VPDB</span> field.
				<br>
				Remember to define a suitable (<sup>18</sup>O/<sup>16</sup>O) acid fractionation factor below.
			</div>
			<input
				type="radio"
				id="d18O_stdz_setting_radio_2pt"
				name="d18O_stdz_setting"
				value="d18O_stdz_setting_2pt"
				form="mainform"
				{{'checked=true' if payload['d18O_stdz_setting'] == 'd18O_stdz_setting_2pt'}}
				>
			Two-point standardization (apply affine transformation to δ<sup>18</sup>O values)
			<br>
			<div class="settings_readme" style="margin:0;margin-left:2.4em;">
				Requires that each session includes two or more samples with a non-empty
				<span class="field">Nominal_d18O_VPDB</span> field.
				<br>
				It is critical that these values cover a large enough range to avoid gross extrapolation errors.
				<br>
				Remember to define a suitable (<sup>18</sup>O/<sup>16</sup>O) acid fractionation factor below.
			</div>


			<h2>Acid Fractionation Settings</h2>

			<div class="settings_readme" style="margin-bottom:3ex;">
				Only used for computing WG composition based on carbonate standards
				<br>
				and for single-point or two-point δ<sup>18</sup>O standardization.
			</div>
			<input
				type="text"
				name="acidfrac_setting"
				id="acidfrac_setting"
				form="mainform"
				size="12"
				value="{{payload['acidfrac_setting']}}"
				></input>
			<label for="acidfrac_setting">(<sup>18</sup>O/<sup>16</sup>O) fractionation factor of acid reaction</label>

			<h2>Δ<sub>47</sub> Standardization Settings</h2>
		
			<label for="rf_input_str" style="margin-left:0">“Absolute” Δ<sub>47</sub> Reference Frame:</label>
			<div class="settings_readme" style="margin-bottom:2ex;">
			In the text box below, specify the “true” Δ<sub>47</sub> values and sample names of anchors,
			<br>
			separated by a single tab character (one line per anchor).
			</div>
			<textarea name="rf_input_str" id="rf_input_textarea" form="mainform" cols="24" rows="6">{{payload['rf_input_str']}}</textarea>
			
			<br><br>
			<label for="stdz_method_setting" style="margin-left:0">Standardization method:</label><br>
			<input
				type="radio"
				id="stdz_method_setting_radio_pooled"
				name="stdz_method_setting"
				value="stdz_method_setting_pooled"
				form="mainform"
				{{'checked=true' if payload['stdz_method_setting'] == 'stdz_method_setting_pooled'}}
				>
			Pooled regression model taking unknowns into account
			<br>
			<input
				type="radio"
				id="stdz_method_setting_radio_indep_sessions"
				name="stdz_method_setting"
				value="stdz_method_setting_indep_sessions"
				form="mainform"
				{{'checked=true' if payload['stdz_method_setting'] == 'stdz_method_setting_indep_sessions'}}
				>
			Independent models for each session only taking anchors into account

			<h2>Raw Data Input</h2>

			<div class="settings_readme">
				<p>Each line corresponds to a single analysis. Fields are tab-delimited.
				The first line must correspond to field names.
				The required fields are:
				a sample identifier (<span class="field">Sample</span>),
				and the working-gas delta values <span class="field">d45</span>,  <span class="field">d46</span>,  <span class="field">d47</span>.
				For each analysis you may also (optionally) specify
				a unique analysis identifier (<span class="field">UID</span>) and/or
				an identifier for the analytical session (<span class="field">Session</span>).
				Independently known oxygen-17 anomalies may be provided as <span class="field">D17O</span>
				(in ‰ relative to VSMOW, with the λ value specified above), and are assumed to be zero otherwise.
				Working-gas deltas <span class="field">d48</span> and <span class="field">d49</span> may also be
				specified (treated as NaN otherwise). Other optional fields are
				<span class="field">d13Cwg_VPDB</span>, <span class="field">d18Owg_VSMOW</span> (see “Working Gas Composition Settings” above),
				<span class="field">Nominal_d13C_VPDB</span>, and <span class="field">Nominal_d18O_VPDB</span>
				(see “Carbon-13 Standardization”, “Oxygen-18 Standardization”, “Working Gas Composition” settings above).
			</div>

			<textarea name="rawdata_input_str" id="rawdata_input_textarea" form="mainform" cols="100" rows="21">{{payload['rawdata_input_str']}}</textarea>
<!-- 			<textarea name="rawdata_input_str_fw" id="rawdata_input_textarea_fw" form="mainform" cols="128" rows="24" style="display:none">{{payload['rawdata_input_str_fw']}}</textarea> -->

<!-- 
			<button onclick="rawdata_input_str_asfw()" id="rawdata_input_str_asfw" style="display:block">Display as fixed-width columns</button>
			<button onclick="rawdata_input_str_astd()" id="rawdata_input_str_astd" style="display:none">Display as tab-delimited columns</button>
 -->

			
		<form action="/" id="mainform" method="post">
		<input form="mainform" type="submit" name="action" value="Process">
		
		{% if payload['display_results'] and not payload['error_msg'] %}
		<h2>Results</h2>

			<input form="mainform" type="submit" name="action" value="Download zipped results">

			<p>
			<span class=label>Summary:</span>
			<br>
			<textarea
				name="summary_str"
				class="invisible"
				id="summary_textarea"
				form="mainform"
				cols="{{payload['summary_cols']}}"
				rows="{{payload['summary_rows']}}">{{payload['summary']}}</textarea>
			<br>

			<span class=label>Table of sessions:</span>
			<br>
			<textarea
				name="table_of_sessions_str"
				class="invisible"
				id="table_of_sessions_textarea"
				form="mainform"
				cols="{{payload['table_of_sessions_cols']}}"
				rows="{{payload['table_of_sessions_rows']}}">{{payload['table_of_sessions']}}</textarea>
			<br>

			{% for img in payload['plots'] %}
				<img src="{{ img }}"/>
			{% endfor %}

			<br>
			<br>
			<br>
			<span class=label>Table of samples:</span>
			<br>
			<textarea
				name="table_of_samples_str"
				class="invisible"
				form="mainform"
				cols="{{payload['table_of_samples_cols']}}"
				rows="{{payload['table_of_samples_rows']}}">{{payload['table_of_samples']}}</textarea>
			<br>

<!-- 
			<span class=label>Table of analyses:</span>
			<br>
			<textarea
				name="table_of_analyses_str"
				style="font-size: 9pt"
				class="invisible"
				form="mainform"
				cols="{{payload['table_of_analyses_cols']}}"
				rows="{{payload['table_of_analyses_rows']}}">{{payload['table_of_analyses']}}</textarea>
 -->

			<textarea
				name="table_of_sessions_csv"
				style="display:none"
				form="mainform">{{payload['table_of_sessions_csv']}}</textarea>
			<textarea
				name="table_of_samples_csv"
				style="display:none"
				form="mainform">{{payload['table_of_samples_csv']}}</textarea>
			<textarea
				name="table_of_analyses_csv"
				style="display:none"
				form="mainform">{{payload['table_of_analyses_csv']}}</textarea>
			<textarea
				name="report"
				style="display:none"
				form="mainform">{{payload['report']}}</textarea>
			<textarea
				name="csv_of_sessions"
				style="display:none"
				form="mainform">{{payload['csv_of_sessions']}}</textarea>

		{% endif %}

		</form>
		
		{{about(vD47crunch)}}
		
	</body>
</html>
